<h1>ERB (Embedded Ruby)</h1>


<p>
  Auf dieser Seite kannst du ERB-Funktionen ausprobieren.
</p>

<p>
  Der Quellcode liegt in <code><%= Pathname.new(__FILE__).relative_path_from(Rails.root) %></code>
</p>

<hr/>


<h2>Wieviel ist 3 * 5 + (3 * 1.5)?</h2>

<p>
  <mark>Führe die Berechnung mit Ruby durch und gibt den Wert hier aus.</mark>
</p>


<hr/>



<h2>Aktuelle Zeit</h2>

Mit <code>Time.now</code> erhältst du in Ruby den aktuellen Zeitpunkt.

<p>
  <mark>GIB HIER DIE ZEIT AUS</mark>
</p>


<hr/>


<h2>Zufallszahl</h2>

<p>
  In HTML können viele grafische Sonderzeichen ausgegeben werden, z.B. Würfel:
</p>

<div class="dice">
  &#x2680;
  &#x2681;
  &#x2682;
  &#x2683;
  &#x2684;
  &#x2685;
</div>

<p>
  Gib ein Würfelzeichen aus, dass sich bei jedem Neuladen der Seite ändert:
  (Mit <code>rand(6)</code> erhältst du in Ruby eine zufällige Zahl zwischen 0 und 5)
</p>

<div class="dice">

  <mark>WÜRFEL</mark>

</div>


<hr/>




