<h1>HTML</h1>

<p>
    Auf dieser Seite kannst du <strong>HTML-Funktionen</strong> ausprobieren.
</p>

<p>
    Der Quellcode liegt in <code><%= Pathname.new(__FILE__).relative_path_from(Rails.root) %></code>
</p>

<hr/>

<p>
  Ersetze die Platzhalter durch Bilder.
</p>

<p>
  Verwende das <code>img</code>-Tag um ein Bild hinzuzufügen. Benutze das <code>src</code>-Attribut, um die Adresse
  des Bilds festzulegen.
</p>

<p>
  <mark>http://www.google.de/images/srpr/logo11w.png</mark>
</p>

<p>
  Diese Grafik ist sehr groß. Benutze das <code>width</code>-Attribut, um die Breite des Bildes in Pixeln festzulegen.
  (z.B. 600)
</p>

<p>
  <mark>http://upload.wikimedia.org/wikipedia/commons/2/22/New_York_City_at_night_HDR.jpg</mark>

</p>


<hr/>


<p>
  Ersetze den folgenden Text durch eine Verknüpfung/Link auf die Google-Homepage. (http://www.google.de/)
  (<code>a</code>-Tag, <code>href</code>-Attribut)
</p>


<p>
  <mark>Hier geht es nach Google</mark>

</p>


<p>
  Erstelle noch einen Link zur Google-Homepage. Anstelle eines Textes verwende die Google-Grafik von oben.
  (Das <code>img</code>-Tag muss innderhalb des <code>a</code>-Tags stehen)
</p>


<p>
  <mark>Google-Link mit Grafik</mark>

</p>
