body {
  padding: 0 40px;
}

a.home {
  position: absolute;
  display: block;
  top: 0;
  left: 0;

  border: 1px solid #CCCCCC;
  padding: 3px 12px 6px 6px;
  background-color: #DADADA;
  border-bottom-right-radius: 20px;

  text-decoration: none;
  color: black;
  font-weight: bold;

}