<!DOCTYPE html>
<html>
<head>
  <title>Rails Practice</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<a class="home" href="/" title="Home">
  &hookleftarrow;
</a>

<small>Version 2015-02-26</small>


<%= yield %>

</body>
</html>
